/_build
/_build_mingw
/build
frontends/web/public/nesbrasa.js
frontends/web/public/nesbrasa.wasm
frontends/web/public/libnesbrasa.so*
frontends/web/.emscripten-cache
/.flatpak-builder
/.vscode/ipch
*.ui~
